.login-page-container {
  display: flex;
  height: 80vh;
  font-family: Arial, sans-serif;
  flex-direction: row;
  margin-top:80px;
  margin-left:150px;
  margin-right:150px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: black;
  overflow: hidden;
}

.left-section {
  flex: 1;
  background: url('https://i.pinimg.com/736x/1f/8e/22/1f8e2214a7c76231ec1976d6cdcc3e69.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.left-content {
  text-align: center;
  color: transparent;

}

.left-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.left-content p {
  font-size: 1.2rem;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 20px;
  border-left: 1px solid #ddd;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.form-wrapper h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
}

.form-wrapper input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.google-button img {
  width: 20px;
  margin-right: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .login-page-container {
    flex-direction: column;
  }

  .left-section {
    height: 50vh;
  }

  .right-section {
    width: 100%;
    height: 50vh;
    padding: 10px;
  }

  .form-wrapper {
    max-width: 90%;
  }

  .left-content h1 {
    font-size: 2rem;
  }

  .left-content p {
    font-size: 1rem;
  }
}